* {
    background-color: #FFF0F0;
}
a { 
color: inherit; 
} 


/* received from figma*/
.name-input {
position: fixed;
width: 1017px;
height: 290px;
left: 420px;
top: -27px;

font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 150px;
line-height: 297px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.11em;

color: #1A3914;
}

.nav-bar {
font-family: Actor;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.32em;

color: #1A3914;
}



.home {
position: fixed;
width: 409.92px;
height: 80.29px;
left: -38.81px;
top: 196px;
}

.inspo {
position: fixed;
width: 409.92px;
height: 80.29px;
left: 313.83px;
top: 200.92px;
}


.about {
position: fixed;
width: 409.92px;
height: 80.29px;
left: 687.57px;
top: 202.92px;
}

.contact {
position: fixed;
width: 409.92px;
height: 80.29px;
left: 1030.17px;
top: 201.73px;
}

.intro {
position: absolute;
width: 1103px;
height: 290px;
left: 173px;
top: 370px;

font-family: Actor;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 120px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.11em;

color: #1A3914;
}

.line-1 {
position: fixed;
width: 1379px;
height: 0px;
left: 34px;
top: 196px;

border: 1px solid #1A3914;
}

.line-2 {
position: absolute;
width: 1379px;
height: 0px;
left: 34px;
top: 285px;

border: 1px solid #1A3914;
}

.about-me {
position: absolute;
width: 782px;
height: 96px;
left: 44px;
top: 1737px;

font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 110px;
line-height: 177px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.11em;

color: #1A3914;
}

.about-text {
position: absolute;
width: 612px;
height: 581px;
left: 92px;
top: 1871px;

font-family: Actor;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 49px;
letter-spacing: 0.11em;

color: #000000;

}

.contact-info {
position: absolute;
width: 782px;
height: 96px;
left: 460px;
top: 2577px;

font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 110px;
line-height: 177px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.11em;

color: #1A3914;

}

.footer {
background: #1A3914;
}


/*.thank-you {
position: absolute;

font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 100px;
line-height: 118px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.11em;

color: #FFF0F0;

}
*/